[package]
name = "core"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha2 = "0.10"
hex = "0.4"
libc = "0.2"
rand = "0.8"

[profile.release]
lto = true
strip = true
panic = "abort"
codegen-units = 1